<div class="container mt-3">
  <h2>{{quizTitle}}</h2>
  <form>
    <div class="form-group" *ngFor="let q of objectKeys(quizForm)">
      <label>{{ quizForm[q].leiras }}</label>
      <select class="form-control" name="{{ q }}">
        <option *ngFor="let answer of quizForm[q].valaszok">
          {{ answer.nev }}
        </option>
      </select>
    </div>
    <hr>
    <button type="submit" class="shadow-sm btn btn-lg btn-outline-primary mb-2 btn-block"><i class="fas fa-check-circle"></i> Beküldés</button>
  </form>
</div>