<div class="card shadow-sm">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ numquestions }} kérdés</h6>
  </div>
  <hr *ngIf="this.userService.isLoggedIn()">
  <div class="card-body" *ngIf="this.userService.isLoggedIn()">
    <!-- <div class="btn-group" role="group" aria-label="Műveletek"> -->
      <button class="btn btn-primary btn-block" [routerLink]="[ '/fill', qid ]"><i class="fas fa-pen"></i> Kitöltöm</button>
      <button class="btn btn-outline-info btn-block" [routerLink]="[ '/leaderboard', qid ]"><i class="fas fa-list-ol"></i> Ranglista</button>
    <!-- </div> -->
  </div>
</div>