<!-- Should only appear if the user is not logged in :) -->
<app-welcome-hero *ngIf="!this.userService.isLoggedIn()"></app-welcome-hero>

<div class="container container-fluid text-center mt-3">
  <div class="row">
    <div class="col-lg">
      <h1 class="display-4"><i class="fas fa-question-circle"></i></h1><h3>Izgalmas kérdések</h3>
    </div>
    <div class="col-lg">
      <h1 class="display-4"><i class="fas fa-medal"></i></h1><h3>Ranglista</h3>
    </div>
    <div class="col-lg">
      <h1 class="display-4"><i class="fas fa-play-circle"></i></h1><h3>Azonnal játszható</h3>
    </div>
  </div>
</div>