<div class="container mt-3">
  <div class="card shadow border-primary">
  <h5 class="card-header">Bejelentkezés</h5>
  <div class="card-body">
    <div class="alert alert-danger" role="alert" *ngIf="loginFailed">
      Sikertelen bejelentkezés!
    </div>
  <form>
      <div class="form-group">
        <label for="text">Név</label>
        <input type="text" name="username" class="form-control" id="username" [(ngModel)]="username" placeholder="Név">
      </div>
      <div class="form-group">
          <label for="password">Jelszó</label>
          <input type="password" name="password" class="form-control" id="password" [(ngModel)]="password" placeholder="abcd1234">
      </div>
  </form>
  <button class="btn btn-primary" (click)="sendLogin()" [ngClass]="{'disabled': loginProgress || this.userService.isLoggedIn()}">Bejelentkezek</button> 
  <div class="spinner-border" role="status" *ngIf="loginProgress">
    <span class="sr-only">Loading...</span>
  </div>
  </div>
</div>
</div>