<div class="container add-top-margin">
    <div class="card shadow border-primary">
    <h5 class="card-header">Regisztráció</h5>
    <div class="card-body">
      <form name="signupForm">
        <div class="form-group">
          <label for="reg-username">Név</label>
          <input type="text" name="username" class="form-control" id="reg-username" placeholder="Teszt Elek" [(ngModel)]="formData.username" [ngClass]="{'prefilled': prefilled }" required>
          <small id="reg-usernameHelp" class="form-text text-muted">Ez a név fog megjelenni a ranglistán.</small>
        </div>
        <div class="form-group">
            <label for="reg-password">Jelszó</label>
            <input type="password" name="password" class="form-control" id="reg-password" placeholder="abcd1234" [(ngModel)]="formData.password" required>
            <small id="reg-passwordHelp" class="form-text text-muted">Lehetőleg valami értelmes jelszót válassz.</small>
        </div>
        <div class="form-group">
          <label class="form-check-label" for="exampleCheck1">A regisztrációval elfogadom a nemlétező felhasználási feltételeket és eladom az adataimat a Facebooknak. <i class="fas fa-grimace"></i></label>
        </div>
      </form>
      <button class="btn btn-primary"><i class="fas fa-user-plus"></i> Regisztráció</button>
  </div>
  </div>
</div>